@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lobster&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary: #111;
  --secondary: #F0ECE5;
  --bg: #fafafa;
  --border: #aaa;
}

:root {
  --bg-url: url(/img/);

  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgb(243 224 224 / 20%);
  --surface-color-hover: rgba(0, 0, 0, 0.1);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: #fff url(/img/moon-stars.svg) no-repeat center;
  --background-color: var(--blue);
  --text-color: white;
}

:root {
  --width: 32px;
}


.light {
  --text-color: var(--blue2);
  --bg-url: var(--orange) --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(0, 0, 0, 0.2);
  --surface-color-hover: rgba(0, 0, 0, 0.1);
  --highlight-color: rgba(224, 224, 224, 0.2);
  --switch-bg-url: #ffffff url(/img/sun.svg) no-repeat center;
  --background-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
}

body {
  background-color: #070F2B !important;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
  gap: 2rem;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 50px;
  font-size: 1.5em;
  background-color: #070F2B !important;
  border-bottom: 0.5px solid rgb(255, 255, 255);
}

.top .links a {
  text-decoration: none;
  color: var(--secundary);
  transition: 0.5s;

}

.top .search i {
  transition: 0.5s;
  padding-right: 10px;
}

.top .search i:hover {
  cursor: pointer;
}

.top .search .hamburger {
  display: none;
}

.logo img {
  width: 13rem;
}

.switch {
  position: relative;
  width: 64px;
}

.switch button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: var(--switch-bg-url);
  border-radius: 50%;
  border: 0;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.2s;
}

.light .switch button {
  animation: slide-in 0.3s forwards;
}

/* .switch button:hover {
  outline: 8px solid var(--highlight-color);
} */

.switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: rgba(121, 121, 121, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

.toggle {
  max-width: 1500px;
  justify-content: flex-end;
  margin-right: 4rem;
}

#bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-indexz-index: -5;
}

#burger {
  padding: 37px;
  margin-right: 1rem;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.brg {
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.burger-top {
  transform: translate(-50%, calc(-50% - 7px));
}

.burger-bot {
  transform: translate(-50%, calc(-50% + 7px));
}

.active.burger-top {
  transform: translate(-50%, calc(-50% - 15px));
}

.active.burger-bot {
  transform: translate(-50%, calc(-50% + 15px));
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-link {
  list-style: none;
  margin: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
  justify-content: center;
  z-index: 1;
  color: rgb(42, 42, 42);
  background: linear-gradient(45deg, var(--secondary), #9290C3);
  font-size: 2rem;
  clip-path: circle(10px at 100% -10px);
  -webkit-clip-path: circle(10px at 100% -10px);
  transition: 0.5s ease-in-out;
  pointer-events: none;
}

.nav-links.active {
  pointer-events: all;
  clip-path: circle(200vw at 0);
  -webkit-clip-path: circle(200vw at 0);
}

/* .navigation1 li a {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
} */

.title-name {
  opacity: 0;
  transform: translateY(80px);
  animation: slideUp .9s forwards;
}

.title-name {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 15rem;
}

.title-name p:nth-child(1) {
  font-size: 2rem;
}

.content {
  font-size: 1rem;
}

.title-name h1 .letter,
.title-name p .letter {
  animation-delay: calc(var(--index) * 0.1s);
}


.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft .1s forwards;
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Animation*/
@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}

.game-container {
  position: relative;
  width: 100vw;
  height: 80vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaceship {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 80px;
  height: 80px;
  background: url('/Img/estrangeiro\ \(1\).png') no-repeat center center;
  background-size: contain;
}

.bullet {
  position: absolute;
  width: 10px;
  height: 30px;
  background: rgb(187, 128, 255);
  border-radius: 3px;
  box-shadow: 0 0 20px 10px rgba(184, 130, 255, 0.8);
}

.shock-border {
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: 0 0 20px 10px rgba(184, 130, 255, 0.8);
} 
.letter {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


@media(max-width: 911px) {
  .links {
    display: none;
  }
}

@media(max-width: 678px) {
  .title-name h1 {
    font-size: 2.5rem;
  }

  .title-name p:nth-child(1) {
    font-size: 1rem;
  }
}

.loader__2 {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader__2:before {
  content: "";
  width: 48px;
  height: 5px;
  background: #5f5e71;
  ;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader__2:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #9290C3;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

.game {
  position: relative;
  padding: 20px 35px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
  border-radius: 20px;
}

a span {
  position: relative;
  color: #fff;
  font-family: Arial;
  letter-spacing: 8px;
  z-index: 1;
}

a .aguado {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: #9290C3;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
}

a .aguado::after,
a .aguado::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

a .aguado::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: ondas 5s linear infinite;
}

a .aguado::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: ondas 10s linear infinite;
}

a:hover .aguado {
  top: -120px;
}

@keyframes ondas {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.hidden {
  display: none;
}

@keyframes shatter {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(var(--shatter-x), var(--shatter-y)) scale(0.5);
    opacity: 0;
  }
}

.letter.shard {
  position: absolute;
  display: inline-block;
  animation: shatter 0.5s forwards;
  color: inherit;
  /* Mantém a cor da letra original */
  background-color: #9290C3;
  /* Cor dos estilhaços */
  pointer-events: none;
  /* Impede que os estilhaços interfiram na detecção de colisão */
}

.progress-container {
  width: 100%;
  background-color: #ddd;
  position: fixed;
  top: 0;
  left: 0;
  height: 20px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #9290C3;
  text-align: center;
  line-height: 20px;
  color: white;
}