@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');

:root {
  --primary: #111;
  --secondary: #F0ECE5;
  --bg: #fafafa;
  --border: #aaa;
}

:root {
  --bg-logo: url(/Img/Screenshot_1.png);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgb(243 224 224 / 20%);
  --surface-color-hover: rgba(0, 0, 0, 0.1);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: #fff url(/img/moon-stars.svg) no-repeat center;
  --background-color: #00021C;
  --text-color: #F0ECE5;
}

:root {
  --width: 32px;
}


.light {
  --bg-logo: url(/Img/logo-ligth.png);
  --text-color: #00021C;
  --surface-color: rgba(0, 0, 0, 0.2);
  --surface-color-hover: rgba(0, 0, 0, 0.1);
  --highlight-color: rgba(224, 224, 224, 0.2);
  --switch-bg-url: #e9e9e9 url(/img/sun.svg) no-repeat center;
  --background-color: #F0ECE5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F0ECE5;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


body {
  background-color: var(--background-color) !important;
}

body * {
  color: var(--text-color);

}

.links {
  display: flex;
  gap: 2rem;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 50px;
  font-size: 1.5em;

  border-bottom: 0.5px solid var(--text-color);
  width: 100%;
}

.top .links a {
  text-decoration: none;
  color: var(--secundary);
  transition: 0.5s;

}

.top .search i {
  transition: 0.5s;
  padding-right: 10px;
}

.top .search i:hover {
  cursor: pointer;
}

.top .search .hamburger {
  display: none;
}

.logo {
  background-image: var(--bg-logo);
  background-repeat: no-repeat;
  background-position: center;
  width: 16rem;
  height: 80px;
}

.switch {
  position: relative;
  width: 64px;
}

.switch button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: var(--switch-bg-url);
  border-radius: 50%;
  border: 0;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.2s;
}

.light .switch button {
  animation: slide-in 0.3s forwards;
}

/* .switch button:hover {
  outline: 8px solid var(--highlight-color);
} */

.switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: rgb(255 0 0 / 20%);
  border: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

.toggle {
  max-width: 1500px;
  justify-content: flex-end;
  margin-right: 4rem;
}

/* #bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-indexz-index: -5;
}

#burger {
  padding: 37px;
  margin-right: 1rem;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.brg {
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.burger-top {
  transform: translate(-50%, calc(-50% - 7px));
}

.burger-bot {
  transform: translate(-50%, calc(-50% + 7px));
}

.active.burger-top {
  transform: translate(-50%, calc(-50% - 15px));
}

.active.burger-bot {
  transform: translate(-50%, calc(-50% + 15px));
} */

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-link {
  list-style: none;
  margin: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
  justify-content: center;
  z-index: 1;
  color: rgb(42, 42, 42);
  background: linear-gradient(45deg, var(--secondary), #9290C3);
  font-size: 2rem;
  clip-path: circle(10px at 100% -10px);
  -webkit-clip-path: circle(10px at 100% -10px);
  transition: 0.5s ease-in-out;
  pointer-events: none;
}

.nav-links.active {
  pointer-events: all;
  clip-path: circle(200vw at 0);
  -webkit-clip-path: circle(200vw at 0);
}

.content {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  /* width: 86%; */
}

.content-1 {
  max-width: 600px;
  margin: 0 auto;
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;
}

.title-name p:nth-child(1) {
  font-size: 2.2rem;
  opacity: 0.2;

}

.title-name h1 .letter,
.title-name p .letter {
  animation-delay: calc(var(--index) * 0.1s);
}

.title-name h1 {
  opacity: 0;
  transform: translateY(80px);
  animation: slideUp .9s forwards;
  font-family: "Fjalla One", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 2rem;
}

.botao {
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--text-color);
  outline: 2px solid var(--text-color);
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
  display: inline-block;
  border-radius: 15px;
  width: 250px;
  text-align: center;
}

.botao:hover {
  color: var(--background-color);
}

.botao::before {
  content: "";
  z-index: -1;
  height: 100%;
  background-color: var(--text-color);
  transform: skewX(35deg);
  transition: width 0.5s;
  position: absolute;
  top: 0;
  left: -50px;
  width: 0%;
}

.botao:hover::before {
  width: 145%;
}

.fade-in-left {
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft .1s forwards;
}

.img-screen img {
  margin-top: 10rem;
}

.scroll-downs {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  /* margin: auto; */
  margin: 8rem;

  width: 34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid var(--text-color);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: var(--text-color);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
}

/* CONTEÚDO 2 */
#section1 {
  margin-bottom: 15rem;
}

.content-2,
.content-4,
.content-6 {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
}

.img-screen img,
.content-2 img,
.content-4 img,
.content-6 img {
  border-radius: 25px;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 2rem;
}

.img-2 img,
.img-card img {
  max-width: 650px;
  height: 95%;
}


/* CONTEUDO 3 */
.content-3 {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.colors {
  width: 82%;
  margin-top: 2rem;
  height: 13rem;
  display: flex;
}

.color-1 {
  width: 100%;
  background: rgb(240, 236, 229);
  border: 1px solid var(--text-color);
  border-radius: 25px 0 0 25px;
}

.color-2 {
  background: rgb(255, 255, 255);
  width: 100%;
}

.color-3 {
  background-color: #00021C;
  width: 100%;
  border: 1px solid var(--text-color);
  border-radius: 0 25px 25px 0;
}

.content-3 p {
  width: 70%;
  margin-top: 1rem;
}


/* CONTEÚDO 4 */
.img-1 img,
.img-5 img,
.img-type img,
.big-screen img {
  width: 83%;
}

.content-4 {
  margin-top: 4rem;
}

.img-6 img {
  /* height: 200px; */
  width: 336px;
}


/* CONTEÚDO 5 */
.content-5 {
  text-align: center;
  align-items: center;
  margin: 4rem auto;
}

.type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.type p {
  padding: 1rem;
  width: 70%;
}

.img-type img {
  height: 300px;
}



/* CONTEUDO 7 */
.content-7 {
  display: flex;
  width: 100%;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10rem 0 15rem 0;
  padding: 5rem;
  border-top:1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Animation*/
@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}


.form2 button,
input {
  border: none !important;
  background: none;
  color: #000000 !important;
  width: 100%;
}

.form2 {
  --timing: 0.7s;
  --width-of-input: 100%;
  --border-height: 2.3px;
  --input-bg: var();
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}

.form2:before {
  content: "";
  position: absolute;
  background: var(--text-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 2px;
  transition: transform var(--timing) ease;
}

.form2:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}

.form2:focus-within:before {
  transform: scale(1);
}

.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown)~.reset {
  opacity: 1;
  visibility: visible;
}

.formInput {
  width: 100%;
  height: 100%;
}

.form2 svg {
  width: 17px;
  margin-top: 3px;
}

@media(max-width: 911px) {
  .links {
    display: none;
  }
}

@media(max-width: 678px) {

  .top {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 50px;
  }

  .logo {
    background-image: var(--bg-logo);
    width: 11rem;
    height: 80px;
  }

  #section1 {
    margin-bottom: 0;
  }

  .content {
    width: 100%;
  }

  .content-1 {
    margin-top: 2rem;
    text-align: center;
  }

  .title-name h1 {
    font-size: 2rem;
  }

  .title-name p:nth-child(1) {
    font-size: 1rem;
  }

  .btn,
  .img-screen {
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin-top: 2rem; */
  }

  .botao {
    width: 117px;
    height: 50px;
    font-size: 13px;
  }

  .img-screen img {
    width: 90%;
    margin-top: 0;
  }

  .scroll-downs {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width: 34px;
    height: 55px;
    margin-top: 2rem !important;
    margin: 0 auto;
  }

  .img-1 img,
  .img-5 img {
    width: 90%;
    height: 220px;
  }

  .scroll-downs {
    margin-top: 5rem;
  }

  .content-2 {
    margin-top: 5rem;
  }

  .content-2 img {
    border-radius: 25px;
    width: 90%;
  }

  .img-2 img,
  .img-6 img,
  .img-card img {
    width: 290px;
  }

  .box {
    gap: .6rem;
  }

  .content-3 {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .colors {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }

  .color-1 {
    border-radius: 25px 25px 0 0;
  }

  .color-3 {
    border-radius: 0 0 25px 25px;
  }

  .img-type img,
  .img-card img {
    height: 210px;
  }

  .img-type img {
    width: 90%;
  }

  .big-screen img {
    width: 90%;
    border-radius: 25px;
  }
}

@media screen and (max-width: 600px) {
  .aneis {
    position: relative;
    width: 360px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}